@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
	--color-background: #ffffff;
	--color-surface: #f6f9fc;
	--color-text-primary: #0a2540;
	--color-text-secondary: #425466;
	--color-accent: #635bff;
	--color-success: #21bf5c;
	--color-error: #f22f46;

	/* Tamaños de texto base */
	--fs-xs: 0.75rem; /* 12px */
	--fs-sm: 0.875rem; /* 14px */
	--fs-md: 1rem; /* 16px */
	--fs-lg: 1.125rem; /* 18px */
	--fs-xl: 1.25rem; /* 20px */
	--fs-2xl: 1.5rem; /* 24px */
	--fs-3xl: 2rem; /* 32px */
	--fs-4xl: 2.5rem; /* 40px */
	--fs-5xl: 3rem; /* 48px */
}
